* {
	margin : 0;
	padding: 0;
}

.home_box {
	width         : 100%;
	height        : 100%;
	position      : fixed;
	display       : flex;
	flex-direction: column;
}

.home_header {
	background-color: #303030;
	width           : 100%;
	height          : 80px;
	display         : flex;
	justify-content : space-between;

	p {
		color          : white;
		height         : 100%;
		display        : flex;
		justify-content: center;
		align-items    : center;
		width          : 250px;
		font-size      : 20px;
	}

	div {
		color          : white;
		width          : 200px;
		display        : flex;
		align-items    : center;
		justify-content: center;
		font-size      : ;
		box-sizing     : border-box;
		padding-top    : 20px;
	}
}

.home_flex {
	flex   : 1;
	display: flex;
}

.flex_left {
	width           : 70px;
	height          : 100%;
	display         : flex;
	flex-direction  : column;
	background-color: #044599;
	align-items     : center;

	div {
		width          : 100%;
		height         : 100px;
		display        : flex;
		justify-content: center;
		align-items    : center;
		font-size      : 35px;
		color          : white;
	}
}

.flex {
	flex: 1;
}

.lastBack {
	width        : 30px !important;
	height       : 30px !important;
	font-size    : 18px !important;
	border-radius: 50%;
	margin-bottom: 10px;
	border       : 1px solid white;

}

.flex_right {
	display: flex;
	flex   : 1;
	height : 100%;
}

.header_flex_left {
	background-color: #F1F1F1;
}

.ant-menu-inline {
	background-color: #F1F1F1 !important;
	width           : 250px !important;
}

.headerFont {
	width          : 100%;
	height         : 70px;
	display        : flex;
	justify-content: center;
	align-items    : center;
	box-sizing     : border-box;
	padding-top    : 25px;
	border-bottom  : 1px solid rgb(207, 205, 205);

	span {
		font-size: 16px;
	}
}

.ant-menu-item {
	a {
		display: inline-block;
	}

	span {
		border-left : 2px solid #1890ff;
		margin-right: 10px;
	}
}

.ant-menu-submenu-title {
	color: black;
}

.right_flexbodx {
	flex  : 1;
	height: 100%;
}

.navBox {
	width          : 100%;
	height         : 70px;
	display        : flex;
	justify-content: space-between;
	box-sizing     : border-box;
	border-bottom  : 1px solid rgb(207, 205, 205);

	.div {
		width       : 250px;
		height      : 100%;
		display     : flex;
		align-items : center;
		box-sizing  : border-box;
		padding-top : 20px;
		padding-left: 20px;
	}

	.time {
		display     : flex;
		height      : 100%;
		align-items : center;
		padding-top : 20px;
		box-sizing  : border-box;
		padding-left: 50px;
	}
}